@model Estacionamiento.Models.Estacionamiento

@{
    ViewData["Title"] = "Crear Estacionamiento";
}

<h2>Crear Estacionamiento</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Direcion" class="control-label"></label>
        <input asp-for="Direcion" class="form-control" />
        <span asp-validation-for="Direcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxPlaza" class="control-label"></label>
        <input asp-for="MaxPlaza" class="form-control" type="number" />
        <span asp-validation-for="MaxPlaza" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Crear</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}