@model Estacionamiento.Models.Estacionamiento

@{
    ViewData["Title"] = "Eliminar Estacionamiento";
}

<h2>Eliminar Estacionamiento</h2>

<div>
    <h4>Estacionamiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direcion</dd>

        <dt class="col-sm-2">Máximo de Plazas</dt>
        <dd class="col-sm-10">@Model.MaxPlaza</dd>
    </dl>
</div>

<h4>¿Estás seguro de que deseas eliminar este estacionamiento?</h4>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>