@{
    ViewData["Title"] = "Home";
}

<h1>Bienvenido a la Aplicación de Estacionamiento</h1>

<p>
    <a asp-controller="Cliente" asp-action="Index">Ver Clientes</a>
</p>
<p>
    <a asp-controller="Estacionamiento" asp-action="Index">Ver Estacionamientos</a>
</p>